<div class="container bg-white rounded-4 p-4" [ngClass]="{'blur-background': showSpinner}">
    <p-toast></p-toast>
    <div class="ticket-table-header alert-dark">
    <h3 class="header-title">Create New Ticket</h3>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="name" class="font-bold form-label font-size">Name :</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Enter Name">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="Priority" class="font-bold form-label font-size">Priority :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="priority">
                    <option selected>--select--</option>
                    <option value="low">low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="subject" class="font-bold form-label font-size">Subject :</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter subject" [(ngModel)]="subject">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <label for="message" class="font-bold form-label font-size">Message :</label>
            <p-editor [style]="{ height: '200px' }" placeholder="Enter Full Description" [(ngModel)]="description"></p-editor>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label for="attachements" class="font-bold form-label font-size">Attachments :</label>
                <p-fileUpload
                mode="basic"
                chooseLabel="Please Select file"
                name="file"
                accept="image/*,application/pdf"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                #fileUpload
                ></p-fileUpload>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 submit-button">
            <button class="btn btn-primary w-50" (click)="submit(fileUpload)">Submit Ticket</button>
        </div>
    </div>
</div>
<div *ngIf="showSpinner" class="spinner-container">
    <p-progressSpinner styleClass="spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
